<form class="sample-form">
    <mat-form-field class="name-full-width">
      <mat-label>First Name</mat-label>
      <input matInput required placeholder="Ex. John">
    </mat-form-field>

    <mat-form-field class="name-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput required placeholder="Ex. Wick">
      </mat-form-field>

      <mat-form-field class="address-full-width">
        <mat-label>Address</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field class="email-full-width">
        <mat-label>Email</mat-label>
        <input matInput type='email' placeholder="Ex. 123@example.com">
      </mat-form-field>

      <mat-form-field class="password-full-width">
        <mat-label>Password</mat-label>
        <input matInput type='password'>
      </mat-form-field>

      <mat-radio-group class="gender-radio">
        <mat-label>Gender:</mat-label>
        <br>
        <mat-radio-button value="male" class="butt-on">Male</mat-radio-button>
        <mat-radio-button value="female" class="butt-on">Female</mat-radio-button>
        <mat-radio-button value="other" class="butt-on">Other</mat-radio-button>
      </mat-radio-group>
     
        
      <mat-form-field class="date-ob">
        <mat-label>Date of Birth</mat-label>
        <input matInput type='date'>
      </mat-form-field>

      <button mat-raised-button color="primary">Register</button>    
    
  </form>

